:root {
  --white: #fff;
  --border-grid: #eee;
  --vlgrey: #f5f4fa;
  --lgrey: #e5e5e5;
  --grey: #757575;
  --dgrey: #2f303a;
  --vdgrey: #212121;
  --black: #000;
  --blue: #2196f3;
  --header-border: #ececec;
  --greyrgba: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  margin: auto;
  padding: 0;
  font-family: "Roboto";
  color: var(--vdgrey);
  background-color: var(--lgrey);
  width: 1600px;
}

ul {
  margin: 0;
  padding: 0;
}

.link,
.link:visited {
  text-decoration: none;
  color: var(--vdgrey);
}

.link-grey {
  color: var(--grey);
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border);
  background-color: var(--white);
}

.menu-logo {
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
  text-decoration: none;
}

.menu-logo-black {
  color: var(--black);
}

.menu-logo-white {
  color: var(--white);
}

.menu-nav-list {
  padding-left: 93px;
  display: flex;
  gap: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-nav-right {
  padding-left: 371px;
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header2 {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list {
  list-style-type: none;
  display: inline-flex;
}
.list-block {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.active-page,
.link:hover,
.link:focus,
.link-grey:hover,
.link-grey:focus,
.link-grey-footer:hover,
.link-grey-footer:focus {
  text-decoration: none;
  color: var(--blue);
}

.main-top {
  background-color: var(--dgrey);
  padding: 200px 0;
}

.slogan {
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.button {
  margin: auto;
  display: block;
  padding: 10px 42px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--blue);
  border-radius: 4px;
  cursor: pointer;
}

.main-center {
  background-color: var(--white);
}

.our-strengths-list {
  padding-top: 94px;
  margin-bottom: 0;
  display: flex;
  column-gap: 30px;
}

.our-strengths-list-frame {
  flex-basis: calc((100% - 90px) / 4);
}

.our-strengths-list-title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-strengths-list-description {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do-list {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.what-we-do-photo {
  flex-basis: calc((100% - 60px) / 3);
}

.main-bottom {
  background-color: var(--vlgrey);
}
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-list {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.our-team-element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.photos {
  margin: 0;
}

.team-name {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin: 0;
  padding-bottom: 30px;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.footer {
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--dgrey);
}

.footer-logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
  text-decoration: none;
}

.footer-contact {
  display: flex;
  gap: 9px;
  font-size: 14px;
  font-style: inherit;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--greyrgba);
}

.footer-contact a {
  text-decoration: none;
  color: var(--greyrgba);
}

.footer-white {
  color: var(--white);
}

.portfolio-main {
  background-color: var(--white);
  padding-bottom: 94px;
}
.portfolio-buttons {
  padding-top: 94px;
  padding-left: 532px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--vlgrey);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.portfolio-buttons button:hover,
.portfolio-buttons button:focus {
  color: var(--white);
  background-color: var(--blue);
}

.flex-container {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  margin: 0;
  border-bottom: 1px solid var(--border-grid);
  flex-basis: 370px;
}
.portfolio-name {
  padding-left: 24px;
  padding-top: 20px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-category {
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
}
